<html>
<head>
    <title>Shopping App</title>
</head>

<body>
    <form action="{{url_for('index')}}" method="POST">
        <fieldset>
            Eggs:<input type="number" name="egg" min="0" max="10" > Rs.10
            
            <br><br>
            Bread:<input type="number" name="bread" min="0" max="10"> Rs. 20
            
            <br><br>
            Milk:<input type="number" name="milk" min="0" max="10"> Rs.13
        </fieldset>
        <br>
        <input type="submit" value="Add to Cart">
    </form>

    <a href="{{url_for('cart')}}">View Cart</a>
</body>
</html>